<h1>Welcome to the Blocipedia welcome page!</h1>
<% if current_user.premium? || current_user.admin? %>
    <%= link_to "View all Wikis" , wikis_path , method: :get%><br>
    <%= link_to "View all Collaborators" , collaborators_path , method: :get%><br>
    <%= link_to "Downgrade to Standard?", new_charge_path, method: :get  %>
<%else  %>
<%end%>
